body {
  font-family: "Avenir Next";
  box-sizing: border-box;
}

.App {
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.photo-panel {
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.headshot {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-panel {
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content-container {
  width: 66%;
  box-sizing: border-box;
}

h1 {
  font-family: "Avenir Next";
}

h2 {
  margin-top: 50px;
}

span {
  margin-top: 20px;
  font-size: 20px;
}

.paragraph {
  margin-bottom: 20px;
}

.icons-container {
  margin-top: 30px;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
  .App {
    flex-direction: column;
  }

  .photo-panel {
    height: 25%;
  }

  h1 {
    font-size: 25px;
    color: white;
    padding-bottom: 10px;
  }

  .text-panel {
    position: absolute;
    left: 0px;
    align-items: unset;
    margin-top: 52vw;
    height: unset;
  }

  .content-container {
    width: 70%;
    padding-top: 0;
  }

  span {
    font-size: 18px;
  }
}
